<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Account</title>    
<style>
		body{
		/*background: #0c4668fd;*/
		background-color: linear-gradient(75deg,blue,white);
	}
</style>    
</head>
<body>
	<div class="row bg-red-500">
		<h2>WELCOME TO MY WEBPAGE...</h2> 
	</div>		
<div class="container">
	<div class="row">	
		<h1>User Profile</h1>
		<p> If someone does not want to work, he must not eat. Thessaloniciens : chapiter 3,verset 10</p>
	</div>
	<br>
	<div class="row">	
		Logged in : <strong>{{session.name}} | <a href="/logout"> Logout</a>
	</div>
	<br><br>
	
</div>
</body>
</html>