
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <h1><center><a class="nav-link active" aria-current="page" href="/">Accueil</a></center></h1>
          
         
            <h2><center><a class="nav-link" href="/login">Login</a></center></h2>
         
            <h3><center><a class="nav-link" href="/signup">signup</a></center></h3>
        </ul>  
      </div>
    </div>
  </nav>
        </ul>  
      </div>
    </div>
 </nav>